body {
	font : 62.5%/1 @arial;
}

h1,
.super-h {
	font-size: 3.6em; 
	font-weight: bold;
	letter-spacing: -1px;
	line-height: 34px;
	text-rendering: optimizeLegibility;
	margin-top: 0.05555555556em; // 2px;
	margin-bottom: 0.25em; // 9px;
}

h2,
.h {
	font-size: 3.2em; 
	font-weight: bold;
	text-rendering: optimizeLegibility;
	margin-top: 0; // 2px;
	margin-bottom: 0.3125em; // 10px;
}

h3,
.sub-h {
	font-size: 2em; 
	font-weight: bold;
	text-rendering: optimizeLegibility;
	margin-top: 0; // 2px;
	margin-bottom: 0.45em; // 9px;

}

h4,
.small {
	font-size: 1.1em;
	line-height: 1.4545454545em;
	text-transform: uppercase;
	margin-top: 0; // 2px;
	margin-bottom: 0; // 10px;
}

p,
.copy {
	font-size: 1.3em;
	line-height: 1.2307692308em;
	padding: 0.6153846154em 0; //8px
	margin: 0;
	display: block;
}
