/* 
GEL Framework
____________________________________________________
Author: Steve Heyes
Version: 0.01
URL: https://github.com/mrsteveheyes/GEL-Framework
_____________________________________________________

*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:hover,
a:active {
  outline: 0;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}
button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}
button,
input {
  *overflow: visible;
  line-height: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
body {
  margin: 0;
  padding: 0;
}
/* @group 1. Vairables */
/* @group 0.1 Colours */
/* @end */
/* @group 0.2 Grid */
/* @end */
/* @group 0.3 Fonts */
/* @end */
/* @end *//* @group Mixins */
/*
 * Snippets of reusable CSS to develop faster and keep code readable
 * ----------------------------------------------------------------- */
/* @end */body {
  font: 62.5%/1 Arial, Helmet, Freesans, sans-serif;
}
h1,
h2,
h3,
h4 {
  margin: 0;
  font-weight: bold;
}
.size36,
.size32,
.size28,
.size24,
.size20 {
  letter-spacing: -1px;
}
.size48 {
  font-size: 4.8em;
  line-height: 48px;
  letter-spacing: -2px;
}
.size36,
h1 {
  font-size: 3.6em;
  line-height: 40px;
  letter-spacing: -1px;
}
.size32,
h2 {
  font-size: 3.2em;
  line-height: 32px;
  letter-spacing: -1px;
  padding: 8px 0;
}
.size28 {
  font-size: 2.6em;
  line-height: 24px;
  letter-spacing: -1px;
}
.size24,
#blq-content .principles-box h3,
#blq-content .principles-box h2,
h3#cultural-map-title {
  font-size: 2.4em;
  line-height: 24px;
  letter-spacing: -1px;
}
.size20,
h3 {
  font-size: 2.0em;
  line-height: 20px;
  letter-spacing: -1px;
  padding: 4px 0;
}
#main-column h4.size20 {
  font-size: 2.0em;
  line-height: 20px;
  letter-spacing: -1px;
}
.size18 {
  font-size: 1.8em;
  line-height: 16px;
}
.size16 {
  font-size: 1.6em;
  line-height: 16px;
}
.size13 {
  font-size: 1.3em;
  line-height: 14px;
  letter-spacing: 0;
}
.size11,
h4 {
  font-size: 11px;
  line-height: 11px;
  margin: 2px 0 8px;
  text-transform: uppercase;
}
.size48,
.size36 {
  padding: 8px 0;
}
.size32,
.size28,
.size24,
.size20,
.size16 {
  padding: 4px 0;
}
h1.first,
h2.first,
h3.first,
h4.first {
  margin-top: 0;
  padding-top: 0;
}
p,
.copy {
  font-size: 1.3em;
  margin: 0;
  padding: 3px 0 5px;
  line-height: 16px;
}
body {
  background: url(../images/8px_baseline_reversed.png) top left;
}
.content {
  margin: 0 auto;
  width: 976px;
}
